#header {
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  z-index: 15;
  background-color: gray;
  width: 100%;
}

header > img {
  height: 20px;
  width: 20px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section {
  height: 1080px;
  padding-top: 50px;
}

@media screen and (max-width: 580px) {
  #header-img{
    visibility: hidden;
  }
  #header {
  display: flex;
  flex-direction: row;
}
  .links {
    display: flex;
    flex-direction: column;
  }
}
